@use '../variables';
.auth-form {
  $button-color: #832160;
  $error-color: #b30000;
  border: 3px solid #f1f1f1;
  padding: 16px;
  margin: 10px;
  > * {
    font-family: variables.$montserrat;
  }
  .heading {
    text-align: center;
  }
  .field {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .error {
    color: $error-color;
    width: 100%;
    text-align: center;
  }
  button {
    background-color: $button-color;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 100000px;
    &:hover {
      opacity: 0.8;
    }
  }
  .footer {
    text-align: center;
    .link {
      text-decoration: none;
    }
  }
}
