@use '../variables';
@use '../theme';
.auth-form {
  padding: 16px;
  margin: 10px;
  @include theme.themify {
    color: theme.themed('backgroundTextColor');
    background-color: theme.themed('backgroundColor');
    border: 1px solid theme.themed('borderColor');
  }
  > * {
    font-family: variables.$font-montserrat;
  }
  .heading {
    text-align: center;
  }
  .field {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    border: 1px solid hsl(0, 0%, 80%);
    box-sizing: border-box;
  }
  .error {
    @include theme.themify {
      color: theme.themed('errorColor');
    }
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
  button {
    @include theme.themify {
      color: theme.themed('primaryTextColor');
      background-color: theme.themed('primaryColor');
    }
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 100000px;
    &:hover {
      opacity: 0.8;
    }
  }
  .footer {
    text-align: center;
    .link {
      text-decoration: none;
      @include theme.themify {
        color: theme.themed('primaryColor');
      }
      font-weight: 1000;
    }
  }
}
