@use '../theme';
@use '../common';
header {
  background: theme.$backgroundColorSecondary;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  @media screen and (min-width: 835px) {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  * {
    font-family: Montserrat, sans-serif;
  }
}
.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.mobile-toggle {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  @media screen and (min-width: 835px) {
    display: none;
  }
  .hamburger {
    color: theme.$textColorSecondary;
  }
}

.navbar {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: theme.$backgroundColorSecondary;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  > * {
    margin-left: 1em;
    margin-bottom: 2em;
  }

  &.show {
    transform: scale(1, 1);
  }
  &-link {
    color: theme.$textColorSecondary;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    cursor: pointer;
    display: block;
    user-select: none;
    &:hover {
      color: theme.$textColorPrimary;
    }
  }
  &-button {
    @include common.pillbutton(
      theme.$backgroundColorSecondary,
      theme.$textColorSecondary,
      theme.$textColorSecondary,
      theme.$backgroundColorSecondary,
      theme.$textColorSecondary,
      theme.$textColorSecondary,
      $noMargin: true
    );
    margin-left: 1em;
  }
  &-dropdown {
    .fields {
      position: absolute;
      display: flex;
      flex-direction: column;
      box-shadow: 0px 8px 16px 0px #00000033;
    }
    &-field {
      cursor: pointer;
      background-color: hsl(0, 0%, 100%);
      padding: 1rem;
      &:not(:last-child) {
        border-bottom: 1px solid lightgray;
      }
      &:hover {
        transition: background-color 0.25s;
        background-color: hsl(0, 0%, 90%);
      }
    }
    &:hover {
      .fields {
        display: block;
      }
    }
  }
  @media screen and (min-width: 835px) {
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > * {
      margin-left: 3em;
      margin-bottom: 0;
    }
    &-link {
      opacity: 1;
      position: relative;
      &::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}
.logo {
  color: theme.$textColorSecondary;
  transform: scale(0.8);
  @media screen and (min-width: 835px) {
    grid-column: 2 / 3;
  }
}
