@use '../theme';
@use '../common';
.navbar {
  background: theme.$backgroundColorSecondary;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  @media screen and (min-width: 800px) {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  * {
    font-family: Montserrat, sans-serif;
  }
}
.nav-toggle {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: inherit;
  border: none;
  @media screen and (min-width: 800px) {
    display: none;
  }
  // span {
  //   &,
  //   &::before,
  //   &::after {
  //     display: block;
  //     background: white;
  //     height: 2px;
  //     width: 2em;
  //     border-radius: 2px;
  //     position: relative;
  //   }
  //   &::after,
  //   &::before {
  //     content: '';
  //     position: absolute;
  //   }
  //   &::before {
  //     bottom: 7px;
  //   }
  //   &::after {
  //     top: 7px;
  //   }
  // }
  .hamburger {
    color: theme.$textColorSecondary;
  }
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: theme.$backgroundColorSecondary;
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
  &.show {
    transform: scale(1, 1);
    .link {
      opacity: 1;
      transition: opacity 250ms ease-in-out;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-bottom: 2em;
    margin-left: 1em;
  }
  .link {
    color: theme.$textColorSecondary;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    &:hover {
      color: theme.$textColorPrimary;
    }
  }
  .button {
    @include common.pillbutton(
      theme.$backgroundColorSecondary,
      theme.$textColorSecondary,
      theme.$textColorSecondary,
      theme.$backgroundColorSecondary,
      theme.$textColorSecondary,
      theme.$textColorSecondary
    );
    text-decoration: none;
  }
  @media screen and (min-width: 800px) {
    // all: unset; /* this causes issues with Edge, since it's unsupported */

    /* the following lines are not from my video, but add Edge support */
    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1, 1);
    background: none;
    top: initial;
    left: initial;
    /* end Edge support stuff */

    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    ul {
      display: flex;
    }
    li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    .link {
      opacity: 1;
      position: relative;
      &::before {
        content: '';
        display: block;
        height: 5px;
        background: black;
        position: absolute;
        top: -0.75em;
        left: 0;
        right: 0;
        transform: scale(0, 1);
        transition: transform ease-in-out 250ms;
      }
      &:hover::before {
        transform: scale(1, 1);
      }
    }
  }
}
.logo {
  color: theme.$textColorSecondary;
  transform: scale(0.8);
  @media screen and (min-width: 800px) {
    grid-column: 2 / 3;
  }
}
