$themes: (
  dark-raspberry: (
    primaryColor: #832160,
    primaryTextColor: white,
    backgroundColor: white,
    backgroundTextColor: black,
    borderColor: #cccccc,
    errorColor: #b30000,
    linkHoverColor: black,
  ),
  golden-yellow: (
    primaryColor: #f5ba13,
    primaryTextColor: white,
    backgroundColor: white,
    backgroundTextColor: black,
    borderColor: #cccccc,
    errorColor: #b30000,
    linkHoverColor: black,
  ),
);
