$backgroundColorSecondary: #f5ba13;
$backgroundColorPrimary: #ffffff;
$paletteColorSecondary: #ffa69e;
$textColorSecondary: #ffffff;
$textColorPrimary: #000000;
$errorColorPrimary: #b30000;
$linkColorPrimary: #832160;
